@charset "UTF-8";

body {
background-color: white;
margin: 0px;
}

header {
    background-image: url('imagens/banner.png');
    
}
header img {
    width: 100%;
}
header img.severname {
    max-width: 750px;
    display: block;
    margin: auto;
}

nav {
    padding: 0px 10px;
}
nav a.registermain {
    display: inline-block;
    color: white;
    text-align: right;
}

nav > a {
    
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
    
}
 nav > a:hover {
    background-color: aqua;
    border-radius: 10px;
    font-weight: bold;
 }
 main {
    min-width: 300;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    border-radius: 0px 0px 10px 10px;

}


